#10.24.39.245
#_______________
no router bgp
no overlay-gateway sj_fabric
no evpn sj_fabric
no interface Loopback 1
no interface Loopback 2
no ip router-id
interface Ethernet 0/26
no ip address
no ip unnumbered
no mtu
no ip mtu
no shutdown
interface Ethernet 0/1:1
no ip address
no ip unnumbered
no mtu
no ip mtu
no shutdown

