#10.24.39.254
#_______________
conf
no router bgp
no overlay-gateway sj_fabric
no evpn sj_fabric
no mac-address-table learning-mode
no mac-address-table mac-move limit
no mac-address-table mac-move detect
no ip router-id
no interface Loopback 1
no interface Loopback 2
interface Ethernet 0/50
no ip address
no ip unnumbered
no mtu
no ip mtu
no shutdown
no interface Port-channel 1
no vlan 450
interface Ethernet 0/10
no switchport
no shutdown

