#10.24.39.232
no mac-address-table learning-mode
no mac-address-table mac-move limit
no mac-address-table mac-move detect
no overlay-gateway sj_fabric
rbridge-id 232
no router bgp
no evpn sj_fabric
end
no interface Loopback 1
no interface Loopback 2
no ip router-id
interface  Te 232/0/48
no ip address
no ip unnumbered
no mtu
no ip mtu
no shutdown
no interface Port-channel 1
no vlan 450
interface Te 232/0/10
no switchport
no shutdown

