#10.24.39.236
no overlay-gateway sj_fabric
rbridge-id 236
no router bgp
no evpn sj_fabric
no interface Loopback 1
no interface Loopback 2
no ip router-id
end
interface Te 236/0/1:3
no ip address
no ip unnumbered
no mtu
no ip mtu
no shutdown
interface Te 236/0/1:4
no ip address
no ip unnumbered
no mtu
no ip mtu
no shutdown


